* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}
body {
  background: #fff;
  color: #181717;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
}
.navbar nav a {
  margin-left: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #000;
}
nav a.primary {
    color: #ffffff;
}
.primary {
  background: #ff6a2c;
  padding: 12px 18px;
  border-radius: 8px;
  border: 2px solid #1c1b1b;
}
.logo {
  font-weight: 800;
  font-size: 22px;
  padding-right: 20%;
}
.outline {
  border: 1px solid #1e1c1c;
  padding: 10px 16px;
  border-radius: 8px;
}
.arrow {
  position: relative;
  padding-right: 14px;
}
.arrow::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 6px;
  height: 6px;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
  transform: translateY(-50%) rotate(45deg);
}

/* HOME */

.home {
  background: #e9fbf7;
  padding: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.home-content h1 {
  font-size: 48px;
  max-width: 550px;
}
.home-content span {
  color: #00b894;
  font-family: 'Pacifico', cursive;
  font-size: 40px;
}
.home-content p {
  margin: 20px;
  color: #555;
  margin-bottom: 50px;
  font-size: 15px;
  margin-left: -1px;
}
.home-action span{
  font-size: 16px;
   font-family: 'Inter', sans-serif;
}
.home-action .rating {
  color: gold;
  padding-left: 3%;
}
.home-action p{
padding-left: 30%;
font-size: 12px;
margin-top: 4px;
}
.image {
  position: relative;
  width: 420px;
  height: 420px;
}
.primary1 {
  background: #ff6a2c;
  color: #ffffff;
  padding: 12px 18px;
  border-radius: 9px;
  border: 2px solid #1c1b1b;
  font-size: 12px;
  text-decoration: none;
}
/* main img */
.main-img {
  width: 380px;
  height: 190px;
  position: absolute;
  left: 100px;
  top: 100px;
  transform: rotate(-30deg);  
}
/* profile box */
.profile-box {
  position: absolute;
  top: 160px;
  right: 280px;
  background: white;
  padding: 10px 14px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 1.5px solid #1e1c1c; 
 font-weight: 500;
}
.profile-box img {
  width: 34px;
  height: 34px;
  border: 1px solid #1e1c1c;
  border-radius: 15px;
}
.profile-box p {
  font-size: 12px;
  color: #1b1a1a;
}
/* % box */
.percentage-box {
  position: absolute;
  bottom: -60px;
  right: 20px;
  background: white;
  padding: 16px;
  border-radius: 16px;
  width: 160px;
  height: 160px;
 border: 2px solid #1e1c1c;  
}
.percentage-box small {
  font-size: 10px;
  color: #777;
}
.percentage-box h3 {
  font-size: 22px;
  margin: 6px 0;
}
/* bar chart */
.chart {
  display: flex;
  gap: 6px;
  align-items: flex-end;
}
.chart span {
  width: 12px;
  background: #00b894;
  border-radius: 4px;
}
.chart span:nth-child(1) { height: 40px; }
.chart span:nth-child(2) { height: 15px; }
.chart span:nth-child(3) { height: 20px; }
.chart span:nth-child(4) { height: 40px; }
.chart span:nth-child(5) { height: 38px; }

/* TRUST */

.trust {
  text-align: center;
  padding: 80px 40px;
}
.trust span {
  color: #00b894;
  font-family: 'Pacifico', cursive; 
}
.brands {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.brands img {
  margin: 10px;
  width: 20%;        
  height: 20%;        
  object-fit: contain; 
  opacity: 0.85;
  transition: 0.3s;
}

/* WHY */

.why {
  background: #edf5f7;
  text-align: center;
  padding: 80px;
}
.why span {
  color: #00b894;
  font-family: 'Pacifico', cursive;   
}
.why1 {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-top: 40px;
}
.why1 h3 {
  font-size: 45px;
}
.why1 p {
  font-size: 12px;
  margin-top: 10px;
}
.box-wrapper {
  display: flex;
  gap: 10px;
  align-items: flex-end;
  font-family: 'Inter', sans-serif;
}
.box {
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.vertical {
  background: #ef5609;
  color: white;
  width: 80px;
  height: 140px;
  flex-direction: column;
  border: 2px solid #1e1c1c; 
}
.horizontal {
  background: #baf9ea;
  color: rgb(22, 21, 21);
  width: 100px;
  height: 60px;
  flex-direction: row;
  border: 2px solid #1e1c1c;  
}
.box h3 {
  margin: 0;
  font-size: 15px;
}
.box p {
  margin: 0;
  font-size: 10px;
}

/* SECTION */

.cinch-section {
  background: #fbf2e8;
  padding: 100px 80px;
  font-family: 'Inter', sans-serif;
  padding-bottom: 10px;
  
}
.cinch-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 90px;
  color: #2b2b2b;
}
.cinch-text {
  width: 420px;
}
.cinch-text h3 {
  font-size: 30px;
  font-weight: 800;
  margin-bottom: 14px;
  color: #2b2b2b;
}
.cinch-title span {
  color: #00b894;
  font-family: 'Pacifico', cursive;
  font-weight: 500;
}
.cinch-row {
  max-width: 1000px;
  margin: 0 auto 100px;
  display: flex;     
}
.cinch-text h3 span {
  color: #00b894;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
.cinch-text p {
  font-size: 15px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 24px;
}
.quote-box {
  background: #fbf2e8;
  border-radius: 12px;
  padding: 20px;
  font-size: 14px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  border: 2px solid #d2cece;
}
.quote-box p {
  margin-bottom: 10px;
  font-style: italic;
  font-size: 13px;
}
.quote-box strong {
  font-size: 13px;
  color: #8e8a8a;
}
.s-icons{
  text-align: end;
  font-size: 15px;
  color: #383838;
}
.cinch-row.right {
  justify-content: flex-end;
}
.cta-btn {
  margin-top: 30px;
  padding: 16px 30px;
  background: #ff6b35;
  border-radius: 8px;
  color: #fff;
  font-weight: 700;
  border: 2px solid #1e1c1c; 
}

/*FEATURES*/

.features-section {
  padding: 40px 90px;
  text-align: center;
 margin-left: 50px; 
}
.f-title {
  font-size: 38px;
  font-weight: 800;
  margin-bottom: 60px;
}
.f-title span {
  display: block;
  color: #00b894;
  font-family: 'Pacifico', cursive;
  font-size: 26px;
}
.f-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px 0; 
}
.f-grid img {
  width: 160px;
  height: 140px;
  object-fit: contain;   
  margin: 0 auto 20px;
  display: block;
}
.f-grid h4 {
  font-size: 16px;
  font-weight: 800;
  margin-bottom: 10px;
  text-align: center;
}
.f-grid p {
  font-size: 11px;
  color: #555;
  line-height: 1.6;
  text-align: center;
}
.f-card ,.f-card1,.f-card2,.f-card3,.f-card4,.f-card5 {
  border-radius: 8px;
  padding: 20px; 
  width: 80%; 
  align-items: center;
}

/*card 1*/
.f-card{
  background-color:#fdf8ea ;
}

/*card2 */
.f-card1{
  background-color:#e8fffa ;
}

/*card3 */
.f-card2{
  background-color: #eee6fc ;
}
.dash {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  margin-bottom: 20px;
}
.tile {
  background: #fff;
  border-radius: 12px;
  padding: 12px;
  border: 1px solid #181818;
}
.tile p {
  font-size: 12px;
  margin: 0;
}
.tile h4 {
  margin: 6px 0 0;
}
.tile s {
  grid-column: span 1;
   border: 1px solid #181818;
}
.bars {
  display: flex;
  gap: 4px;
  margin-top: 8px;
}
.bars span {
  width: 8px;
  height: 16px;
  background: #00b894;
  border-radius: 2px;
}

/*card4 */
.f-card4{
  background-color: #e4faff ;  
}

/*card5 */
.f-card3{
  background-color: #e2e2e2 ; 
}

/*card6 */
.f-card5{
  background-color: #fff1f1 ; 
}
.pill {
  width: 80%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: left; 
  gap: 10px;
  border: 1px solid #222;
  border-radius: 12px;
  padding: 6px 12px;
  margin-bottom: 12px;
  font-weight: 600;
  background: #fff;
  font-size: 12px;
}
.f-card5 .pill img {
  width: 16px;
  height: 16px;
  object-fit: contain;
  margin-top: 20px;
}

/* FAST */

.fast{
  background: #e9fbf7;
  padding: 90px 80px;
  text-align: center;  
}
.fast h2 {
  font-size: 36px;
  font-weight: 800;
}
.fast .sub {
  display: block;
  color: #00b894;
  font-family: 'Pacifico', cursive;
  margin-top: 6px;
  font-size: 35px;
}
.steps {
  max-width: 400px;
 margin-top: 30px;
  margin-left: 60px;
}
.step {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #9aa7a7;
  position: relative;
  margin-top: 20px;  
}
.step.active::before {
  content: "";
  position: absolute;
  left: 18px;
  top: 30px;
  width: 2px;
  height: 50px;
  background: #5b5b5b;
}
.num {
  font-size: 18px;
  color: #7fd6d6;
  font-family: 'Pacifico', cursive;
}
.title {
  font-size: 20px;
  font-weight: 600;
}
.active {
  align-items: flex-start;
  color: #000;
}
.active .num {
  color: #00b3b3;
  font-weight: bold;
}
.content h4 {
  margin: 0;
  font-size: 22px;
  text-align: start;
}
.content p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-top: 6px;
  text-align: start;
  width: 50%;
}

/*testmonials*/

.testi {
  padding: 100px 80px;
  background: #f8fafc;
  text-align: center;
  padding-top: 50px;
}
.testi-title {
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 60px;
}
.testi-title span{
  color: #00b894;
  font-family: 'Pacifico', cursive;
  font-size: 35px;
}
.profile-img{
  width: 30px;
}
.testi-box {
  background: #ffffff;
  padding: 28px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
}
.testi-t {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}
.testi-user {
  display: flex;
  align-items: center;
  gap: 14px;
}
.testi-user img {
  width: 52px;
  height: 52px;
  border-radius: 50%;   
  object-fit: cover;
}
.icon {
  width: 20px;
  height: 20px;
  font-size: 18px;  
}
.testi-text {
  font-size: 12px;
  color: #444;
  line-height: 1.6;
}
.testi-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}
.testi-box {
  background: #ffffff;
  padding: 30px 26px;
  border-radius: 18px;
  box-shadow: 0 12px 30px rgba(0,0,0,0.08);
  text-align: left;
   border: 1.5px solid #000;
}
.testi-box h4 {
  font-size: 14px;
  font-weight: 500;
}
.testi-box span {
  font-size: 12px;
  color: #777;
}
.btn{
  display: inline-block;
  background: rgb(255, 255, 255);
  color: #232120;
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
}
.btn1{
  display: inline-block;
  background: rgb(250, 130, 44);
  color: #fffefe;
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  margin-top: 80px;
}

/* CASE */

.case-study {
  background: #f2f1ff;
  padding: 100px 80px;
  font-family: 'Inter', sans-serif;
}
.case-container {
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 80px;
}
.case-img {
  position: relative;
  width: 45%;
  height: 400px;
}
.case-img .img {
  position: absolute; 
}
.case-img .top {
  top: 0;
  left: 40px;
  transform: rotate(-32deg);
  width: 65%;
}
.case-img .bottom {
  bottom: 0;
  left: 180px;
  transform: rotate(-9deg);
   width: 60%;
}
  /* right */
.case-content {
  width: 55%;
}
.case-content h2 {
  font-size: 40px;
  font-weight: 800;
  color: #2b2b2b;
  line-height: 1.2;
}
.case-content h2 span {
  color: #00b894;
  font-family: 'Pacifico', cursive;
  font-weight: 400;
}
.desc {
  margin: 20px 0 30px;
  color: #555;
  font-size: 15px;
  max-width: 520px;
}
.stats {
  display: flex;
  gap: 40px;
  margin-bottom: 30px;
}
.stats h3 {
  font-size: 24px;
  margin-bottom: 4px;
}
.stats p {
  font-size: 12px;
  color: #777;
}
.btn-outline {
  display: inline-block;
  padding: 14px 26px;
  border: 2px solid #2b2b2b;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: #2b2b2b;
  background-color: white;
  margin-bottom: 40px;
}
.brands {
  display: flex;
  gap: 30px;
  font-weight: 700;
  color: #bbb;
}

/* CTA */

.cta {
  background: #ff6b35;
  padding: 20px 60px;
  color: white;
  font-family: 'Inter', sans-serif;
}
.cta-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cta-content {
  width: 70%;
  padding-left: 50px;
}
.cta-content h2 {
  font-size: 46px;
  font-weight: 800;
}
.cta-content h6 {
  margin: 16px 0 26px;
  font-size: 14px;
  font-weight: 400;
}
.btn-primary {
  display: inline-block;
  background: white;
  color: #232120;
  padding: 14px 28px;
  border-radius: 10px;
  font-weight: 700;
  text-decoration: none;
  border: 2px solid #000;
}
.rating {
  margin-top: 16px;
  font-size: 14px;
}
.cta-content p {
  margin-top: 20px;
  font-size: 13px;
  color: #d2d2d2;
}
.cta-image {
  text-align: right;
}
.cta-image img {
  width: 100%; 
  margin-left: 60px;
}

/* TRENDS */

.trends {
  padding: 80px;
  text-align: center;
  background-color: #f2f2f2;
}
.trends-t {
  font-size: 42px;
  font-weight: 700;
  margin-bottom: 50px;
}
.i-text {
  font-family: 'Playfair Display', serif; 
  font-style: italic;
  color: #00b894;
  font-weight: 700;
  font-size: 40px;
}
.brands {
  display: flex;
  justify-content: center;
  gap: 40px;
}
.item {
  width: 330px;
}
.item img {
  width: 100%;
  height: 190px;
  object-fit: cover;
  border-radius: 12px;
}
.item p {
  margin-top: 15px;
  font-size: 16px;
  color: #292929;
  line-height: 1.5;
  font-weight: 700;  
}

/* FOOTER */

.footer {
  padding: 50px 90px;
}
.footer-grid {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  padding-top: 60px;
  padding-bottom: 60px;
  border-bottom:1px solid #e7e7e7 ;
  border-top: 2px solid snow;
}
.footer-grid a{
  font-size: 13px;
  margin-top: 10px;
  line-height: 1.8;
}
.footer a {
  display: block;
  color: #555;
}
.div{
  padding-left: 100px;
}
.div h4{
  margin-bottom: 20px;
}
.div1{
  margin-top: 30px;
}
.div1{
  padding-left: 70px;
}
.div2 h4{
  margin-bottom: 20px;
}
.div2{
  padding-left: 50px;
}
.line {
  display: flex;
  align-items: center;
  padding-right: 60px;
  margin-top: 80px;
}
.c{
  font-size: 13px;
}
.footer a.btn-try {
  color: #ffffff;
}
.header-actions {
  display: flex;
  align-items: center;
  gap: 16px;
 padding-left:77%;
 margin-top: -40px;
}
.btn-login {
  padding: 10px 18px;
  border: 1.5px solid #222121;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}
.btn-try {
  padding: 12px 20px;
  border: 2px solid #222121;
  background: #ff6a2c;
  border-radius: 8px;
  text-decoration: none;
  font-weight: 600;
}

/*   RESPONSIVE  */

@media (max-width: 768px) {

  body {
    overflow-x: hidden;
  }

  /* NAVBAR */
  .navbar {
    flex-direction: column;
    padding: 16px 20px;
    gap: 12px;
  }

  .logo {
    padding-right: 0;
    font-size: 20px;
  }

  .navbar nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 6px;
    font-size: 12px;
  }
.outline , .primary{
  width: 100px;
  font-size: 10px;
  height: 40px;
  text-align: center;
  margin-top: 12px;
}
.primary{
 padding-top: 4px;
}
  .navbar nav a {
    margin-left: 0;
  }
.arrow {
    padding-right: 0;
  }

  .arrow::after {
    display: none;
  }

  /* HOME */

  .home {
    flex-direction: column;
    padding: 100px 20px 40px;
    text-align: center;
  }

  .home-content h1 {
    font-size: 30px;
    max-width: 100%;
  }

  .home-content span {
    font-size: 26px;
  }

  .home-content p {
    margin: 14px 0 30px;
    font-size: 13px;
   
  }
.home-action p{
padding-left: 50%;
font-size: 12px;
margin-top: 4px;
}
 
  .image {
    width: 100%;
    max-width: 320px;
    height: 320px;
    margin: 0 auto;
    position: relative;
  }

  
  .main-img {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    top: 60px;
    transform: rotate(-15deg);
  }

 
  .profile-box {
    top: 20px;
    right: 20px;
    padding: 8px 10px;
    gap: 8px;
  }

  .profile-box img {
    width: 28px;
    height: 28px;
  }

  .profile-box p {
    font-size: 11px;
  }

 
  .percentage-box {
    width: 130px;
    height: 130px;
    bottom: 10px;
    right: 10px;
    padding: 12px;
  }

  .percentage-box h3 {
    font-size: 18px;
  }


  .chart span {
    width: 8px;
  }

  /* TRUST */
.brands{margin-bottom: -50px;
    
  }
  .brands img {
    width: 90%;
  }

  /* WHY */
  .why {
    padding: 50px 20px;
  }

  .why1 {
    flex-direction: column;
    gap: 40px;
  }
  

  /* CINCH */
  .cinch-section {
    padding: 60px 20px;
    padding-bottom: 4px;
  
  }

  .cinch-row {
    flex-direction: column;
    gap: 30px;
  }
.cinch-title{
  font-size: 30px;
}
  .cinch-text {
    width: 100%;
    text-align: center;
  }

  /* FEATURES */
  .features-section {
    padding: 40px 20px;
    margin-left: 0;
  }

  .f-grid {
    grid-template-columns: 1fr;
  }

  .f-card,
  .f-card1,
  .f-card2,
  .f-card3,
  .f-card4,
  .f-card5 {
    width: 100%;
    margin: auto;
  }

  /* FAST */
  .fast {
    padding: 60px 20px;
  }

  .steps {
    margin-left: 0;
  }

  .content p {
    width: 100%;
  }

  /* TESTIMONIALS */
  .testi {
    padding: 60px 20px;
  }

  .testi-grid {
    grid-template-columns: 1fr;
  }

  /* CASE STUDY */
  .case-study {
    padding: 60px 20px;
  }

  .case-container {
    flex-direction: column;
  }

 
  .case-content {
    width: 100%;
  }
.case-content h2{
  font-size: 35px;
}
  .case-img {
    height: auto;
    padding-left: 50px;
    width: 90%;
   
  }
   .case-img .top{transform: rotate(-35deg);
     position: static;
 margin-bottom: 10px;
 margin-right: 80px;
    width: 80%;
   

   }

  
  .case-img .bottom {
    position: static;
    transform: none;
    width: 80%;
    margin-bottom: 20px;
    transform: rotate(-20deg);
  
  }
  .stats  h3{
  font-size: 18px;
}
  .stats  p{
  font-size: 11px;
}
.desc{
  font-size: 15px;
}
  .btn-outline{
   margin-left: 50px;
  }

  /* CTA */
  .cta-container {
    flex-direction: column;
    text-align: center;
    gap: 30px;
  }

  .cta-content {
    width: 100%;
    padding-left: 0;
  }

  .cta-content h2 {
    font-size: 32px;
  }

  .cta-image img {
    margin-left: 0;
   
  }
.rating{
padding-left: 49px;
font-size: 10px;
margin-top: 5px;
}
  /* TRENDS */
  .trends {
    padding: 60px 20px;
  }

  .brands {
    flex-direction: column;
    gap: 20px;
  }

  .item {
    width: 100%;
  }
  .item img{
    width: 90%;
   
  }

  /* FOOTER */
  .footer {
    padding: 40px 20px;
  }

  .footer-grid {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .div,
  .div1,
  .div2 {
    padding-left: 0;
  }

  .header-actions {
    padding-left: 0;
    justify-content: center;
    margin-top: 20px;
  }
}



